.DS_Store

#ide
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

.venv/
.vscode/
checkpoints

.mypy_cache/

tensorboard/
videos/
videos2/

results/

.neptune/
.repoproject/

.wandb/
