.DS_Store

#ide
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

.venv/
.vscode/
checkpoints

.ropeproject
.mypy_cache/

tensorboard/
videos/
videos2/

results/

.neptune/
.repoproject/

foundation/
wandb/

jaxrl.egg-info
jaxrl_study.db
