.DS_Store

.ruff_cache/

#ide
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

.venv/
.vscode/
checkpoints

.ropeproject
.mypy_cache/

tensorboard/

results/

.neptune/
.repoproject/

foundation/
wandb/

jaxrl.egg-info
jaxrl_study.db

build/

# TF.js PoC
tfjs_poc/weights/
tfjs_poc/dist/
node_modules/
